<div id='container'>
<!-- Your code here -->
 <header>
    <h1>Shortly</h1>
    <nav class="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#links">Links</a></li>
        <li><a href="#shorten">Shorten</a></li>
      </ul>
    </nav>
  </header>
  <h2>Shorten your link</h2>
  <form name='url' class='creator' nonvalidate>
    <input ng-model='input' type='url' required>
    <button ng-click='addLink()' ng-disabled="url.$invalid">submit</button>
  </form>
  <div ng-show='post' class='link'>
    <img src="./assets/redirect_icon.png"/>
    <div class="info">
      <div class="visits"><span class="count">{{post.visits}}</span>Visits</div>
      <div class="title">{{post.title}}</div>
      <div class="original">{{post.url}}</div>
      <a href='{{post.base_url}}/api/links/{{post.code}}'>{{post.base_url}}/{{post.code}}</a>
    </div>
  </div>
  <div ng-show='error'>{{error}}</div>
</div>


